:root { 
--deep_orange_A100:#ff9485; 
--teal_400_63:#2fc7a163; 
--red_600:#ed1d26; 
--black_900_90:#00000090; 
--light_green_400:#98c45f; 
--teal_400_0c:#2fc7a10c; 
--black_900_01:#020202; 
--blue_gray_900_a7:#333333a7; 
--black_900_07:#00000007; 
--blue_gray_900_02:#2b2f3e; 
--blue_gray_900_01:#333333; 
--white_A700_19:#ffffff19; 
--blue_gray_900:#2c2f3e; 
--teal_A700_67:#00b29367; 
--teal_A700:#00b293; 
--gray_600:#717171; 
--black_900_0a:#0000000a; 
--red_A200_63:#ff553e63; 
--gray_400:#c4c4c4; 
--blue_gray_100:#d9d9d9; 
--red_600_67:#ed1d2667; 
--orange_A200:#efa141; 
--red_A200:#ff553e; 
--orange_A200_01:#ff9e3e; 
--black_900_0c:#0000000c; 
--orange_200:#ffce92; 
--cyan_200:#8de8d8; 
--white_A700_63:#ffffff63; 
--black_900_99:#00000099; 
--cyan_50:#d6fff7; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--red_100:#ffd7dc; 
--teal_400:#2fc7a1; 
--white_A700_cc:#ffffffcc; 
--black_900:#000000; 
--yellow_700:#ffc533; 
--gray_900_a2:#1a1a1aa2; 
--gray_900_02:#0f172a; 
--red_600_02:#e32846; 
--gray_500:#abacac; 
--red_600_01:#f22225; 
--gray_600_01:#74787c; 
--orange_500_63:#fe951563; 
--white_A700_a2:#ffffffa2; 
--gray_900:#1a1a1a; 
--gray_900_01:#25282b; 
--orange_A200_67:#efa14167; 
--orange_500:#fe9515; 
--white_A700_a7:#ffffffa7; 
--orange_100:#ffd8aa; 
--orange_500_0c:#fe95150c; 
--gray_600_90:#74787c90; 
--blue_gray_900_95:#33333395; 
}